<!DOCTYPE html>
{%load static%}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Image Upload</title>
        <link rel="stylesheet" href="{%static 'css/New.css'%}">
    </head>
    <body>
        <div class="upload-container">
            <h2>Upload an Image</h2>
            {% csrf_token %}
            <input type="file" id="file-input" class="upload-input">
            <label for="file-input" class="upload-label">Choose Image</label>
            <p>Accepts all file types</p>
            <div id="uploaded-image"></div>
            <button id="upload-button">Upload Image</button>
            <div id="result-div"></div>
        </div>
    </body>
    <script src="{%static 'js/New.js'%}"></script>
</html>
